
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CB80AB;
    height: 100vh;  /*body is set the full height of viewport*/
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 2px solid #624E88;
    margin: 0;
    padding: 0;
}

.grid-square{
    /* flex: 1 0 6.25%; 100 divided by 16 equals to 6.25 */
    /* height: auto;
    width: auto; */
    border: 1px solid #624E88;
    transition: background-color 0.2s ease ;
    box-sizing: border-box;
}

#clearBtn{
    background-color: #8967B3;
    font-family: monospace;
    color: #e6d9a2;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 10px;
    display: block;
    margin-top: 20px;  
}
.size-container{
    width: 500px;
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
    justify-content: space-between;
}

.grid-size-label{
    font-family: monospace;
    color: #e6d9a2;
    font-size: 16px;
    font-weight: 900;

}

#grid-size{
    font-family: monospace;
    color: #e6d9a2;
    background-color: #8967B3;
    font-size: 14px;
    font-weight: 900;
    width: 200px;
    border-radius: 5px;
}

#resizeBtn{
    background-color: #8967B3;
    font-family: monospace;
    color: #e6d9a2;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 900;
    border-radius: 10px;
    display: block;  
}

/* #E6D9A2 color code for hovering */